@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("~@/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"),
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("~@/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype"),
}

@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("~@/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"),
}