<template>
  <section class="about">
    <h2 class="about__title">О компании</h2>
    <div class="about__text-block">
      <p class="about__text-block__text">Что-то более продвинутое делается 
        с помощью покадровой анимации — когда 
        для разных состояний объекта 
        (стоит, идет, в прыжке, атакует) 
        создается несколько спрайтов 
        (двумерное изображение), которые 
        сменяют друг друга с определенным интервалом.
      </p>
      <a href="#" class="about__text-block__link">
        <span>Подробнее</span>
        <svg 
          xmlns="http://www.w3.org/2000/svg" 
          width="31.495" 
          height="22.141" 
          viewBox="0 0 31.495 22.141"
          class="about__text-block__arrow"
        >
          <path d="M21.22,5.009A1.117,1.117,0,1,0,19.633,6.58l8.047,8.047H1.126A1.118,1.118,0,0,0,0,15.738a1.131,
            1.131,0,0,0,1.127,1.127H27.68L19.633,24.9a1.139,1.139,0,0,0,0,1.587,1.112,1.112,0,0,0,1.587,0l9.952-9.952a1.12,1.12,0,0,0,0-1.571Z" 
            transform="translate(0.001 -4.676)"/>
        </svg>
      </a>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'AboutSection'
  }
</script>

<style lang='scss' scoped>
  .about {
    display: flex;
    justify-content: space-between;
    padding: 0 15vw;

    @media (max-width: $tablet-width) {
      padding: 0 5vw;
    }

    @media (max-width: $mobile-width) {
      flex-direction: column;
      align-items: center;
      padding: 0 15px;
    }

    &__title {
      text-transform: uppercase;
      font-size: 32px;
      margin: 0;

      @media (max-width: $mobile-width) {
        font-size: 16pt;
        margin-bottom: 10px;
      }
    }

    &__text-block {
      width: 60%;

      @media (max-width: $mobile-width) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }

      &__text {
        margin: 0;
        margin-bottom: 50px;
        font-size: 16px;

        @media (max-width: $mobile-width) {
          font-size: 10pt;
          margin-bottom: 20px;
        }
      }

      &__link {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: black;
        text-decoration: none;

        @media (max-width: $mobile-width) {
          font-size: 10pt;
          margin-bottom: 20px;
        }
      }

      &__arrow {
        width: 18px;
        height: 12.7px;
        margin-left: 16px;
        fill: black;
      }
    }
  }
</style>