<template>
  <section class="form-section">
    <div class="form-section__wrap" v-if="!validation.ok">
      <form class="form-section form" @submit.prevent="">
        <h2 class="form__title">Подпишитесь на рассылку</h2>
        <div class="form__name-email">
          <div class="form__name">
            <label 
              for="name" 
              class="form__label"
              :class="{wrongLabel: validation.name.state === 'wrong'}"
              >{{validation.name.text}}</label>
            <input 
              type="text" 
              id="name" 
              class="form__input"
              placeholder="Полина"
              v-model="input.name"
              :class="{wrongBorder: validation.name.state === 'wrong'}"
            >
          </div>
          <div class="form__email">
            <label 
              for="name" 
              class="form__label"
              :style="{visibility: emailLabelVisibility}"
              :class="{wrongLabel: validation.email.state === 'wrong'}"
              >{{validation.email.text}}</label>
            <input 
              type="text"
              id="email" 
              class="form__input"
              placeholder="example@mail.com"
              v-model="input.email"
              :class="{wrongBorder: validation.email.state === 'wrong'}"
            >
          </div>
        </div>
        <div class="form__comments">
          <label for="text" 
            class="form__label"
            :style="{visibility: commentLabelVisibility}"
            :class="{wrongLabel: validation.comment.state === 'wrong'}"
          >{{validation.comment.text}}</label>
          <textarea 
            placeholder="Комментарии"
            id="text"
            rows="7"
            class="form__input"
            :class="{wrongBorder: validation.comment.state === 'wrong'}"
            v-model="input.comment"
          />
        </div>
        <button 
          class="form__btn"
          type="submit"
          @click="onSubmit"
        >Подписаться</button>
      </form>
      <div class="form-section__wrap__icon"></div>
    </div>
    <div v-else class="form-section__popup">
      <p class="form-section__popup__text">Уважаемый, {{input.name}}, спасибо за подписку!</p>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'FormSection',
    data() {
      return {
        input: {
          name: '',
          email: '',
          comment: '',
        },
        validation: {
          name: {
            state: null,
            text: 'Имя'
          },
          email: {
            state: null,
            text: 'Заполните поле'
          },
          comment: {
            state: null,
            text: 'Заполните поле'
          },
          ok: false

        }
      }
    },
    methods: {
      onSubmit() {
        let result = true;
        if (this.input.name.length > 0) {
          if (!this.validateName(this.input.name)) {
            this.validation.name = {
              state: 'wrong',
              text: 'Цифры в имени не допустимы'
            }
            result = false;
          } else {
            this.validation.name = {
              state: null,
              text: 'Имя'
            }
          }
        } else {
          this.validation.name = {
            state: 'wrong',
            text: 'Заполните поле'
          }
          result = false;
        }
        if (this.input.email.length > 0) {
          if (!this.validateEmail(this.input.email)) {
            this.validation.email = {
              state: 'wrong',
              text: 'Неверный email'
            }
            result = false;
          } else {
            this.validation.email = {
              state: null,
              text: 'Заполните поле'
            }
          }
        } else {
          this.validation.email = {
            state: 'wrong',
            text: 'Заполните поле'
          }
          result = false;
        }
        if (this.input.comment.length === 0) {
          this.validation.comment = {
            state: 'wrong',
            text: 'Заполните поле'
          }
          result = false;
        } else {
          this.validation.comment = {
            state: null,
            text: 'Заполните поле'
          }
        }

        if (result) this.validation.ok = true;
      },
      validateName(name) {
        return (/^([^0-9]*)$/).test(name);
      },
      validateEmail(email) {
        return (/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/g).test(email);
      }
    },
    computed: {
      emailLabelVisibility() {
        if (this.validation.email.state === 'wrong') return 'visible'
        else return 'hidden'
      },
      commentLabelVisibility() {
        if (this.validation.comment.state === 'wrong') return 'visible'
        else return 'hidden'
      }
    }
  }
</script>

<style lang='scss' scoped>
  .form-section {
    width: 100%;
    padding: 0 15vw;

    @media (max-width: $tablet-width) {
      padding: 0 5vw;
    }

    @media (max-width: $mobile-width) {
      padding: 0 15px;
    }
    
    &__wrap {
      position: relative;
      padding: 40px 15.5vw 30px;
      border: 1px solid #14A5DA;

      @media (max-width: $mobile-width) {
        padding: 35px;
      }

      &__icon {
        position: absolute;
        width: 80px;
        height: 80px;
        left: 0;
        top: 0;
        background: #14A5DA1F;
        clip-path: polygon(0 0, 0% 100%, 100% 0);

        @media (max-width: $mobile-width) {
          width: 48pt;
          height: 48pt;
        }

        &::before {
          content: "";
          position: absolute;
          width: 21px;
          height: 21px;
          left: 10px;
          top: 10px;
          background-image: url("~@/img/RSS.svg");

          @media (max-width: $mobile-width) {
            width: 12pt;
            height: 12pt;
            background-size: 12pt 12pt;
          }
        }
      }
    }

    &__popup {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 420px; 
      background: white;
      box-shadow: 0px 0px 10px #00000029;

      &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0;

        @media (max-width: $mobile-width) {
          font-size: 12pt;
        }

        &::before {
          content: "";
          display: block;
          width: 63px;
          height: 63px;
          margin-bottom: 25px;
          background-image: url("~@/img/done.svg");
          background-repeat: no-repeat;

          @media (max-width: $mobile-width) {
            width: 40pt;
            height: 40pt;
            margin-bottom: 15px;
            background-size: 40pt 40pt;
          }
        }
      }
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

    &__title {
      margin: 0;
      font-size: 20px;
      font-weight: 600px;
      text-transform: uppercase;
      margin-bottom: 27px;

      @media (max-width: $mobile-width) {
        font-size: 12pt;
      }
    }

    &__name-email {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 26px;

      @media (max-width: $mobile-width) {
        flex-direction: column;
        margin-bottom: 15px;
      }
    }

    &__name {
      margin-right: 30px;

      @media (max-width: $mobile-width) {
        margin-right: 0;
      }
    }

    &__name,
    &__email {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &__label {
      display: block;
      padding-left: 20px;
      font-size: 12px;
      margin-bottom: 6px;

      @media (max-width: $mobile-width) {
        font-size: 8pt;
      }

      &.wrongLabel {
        color: #E76400;
      }
    }

    &__comments {
      width: 100%;
      margin-bottom: 20px;
    }

    &__input {
      width: 100%;
      padding: 11px 20px;
      font-size: 14px;
      border: 1px solid #14A5DA;
      border-radius: 4px;
      resize: none;

      @media (max-width: $mobile-width) {
        font-size: 10pt;
      }

      &:focus {
        outline: none;
        background-color: #14A5DA1F;
      }

      &.wrongBorder {
        border: 1px solid #E76400;
      }
    }

    &__btn {
      width: 270px;
      padding: 11px 20px;
      font-size: 14px;
      text-transform: uppercase;
      color: white;
      background: #14A5DA;
      border: none;
      font-family: $main-font;

      @media (max-width: $mobile-width) {
        font-size: 10pt;
        padding: 15px 20px;
        width: 100%;
      }
    }
  }
</style>