<template>
  <header class="header" @mouseleave="onMenuLeave()">
    <div class="header__top" v-show="showElement">
      <a href="#">Режим работы</a>
      <a href="#">Правила посещения</a>
    </div>
    <div class="header__main" :class="{fullscreen: menuOpen}">
      <a class="header__logo">logotype</a>
      <nav class="header__menu nav" v-show="showElement">
        <ul class="nav__list">
          <li 
            class="nav__list__element"
            v-for="(item, index) in menu"
            :key="index"
            @mouseover="onMenuHover(index)"
          >
            <a href="#">{{item}}</a>
            <ul class="nav__list__element__sublist">
              <li
                class="nav__list__element__sublist__element" 
                v-for="(subitem, subindex) in submenu"
                :key="subindex"
                v-show="submenuOn === index + 1"
              >
                <a href="#">{{subitem}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="header__user-panel" v-show="showElement">
        <a href="#">Регистрация</a>
        <a href="#">Вход</a>
      </div>
      <div class="header__controls">
        <img 
          src="~@/img/burger.svg" 
          alt="Открыть меню"
          width="27px"
          height="16px"
          v-if="!menuOpen"
          @click="menuOpen = true"
        >
        <img 
          src="~@/img/close.svg" 
          alt="Закрыть меню"
          width="22px"
          height="22px"
          v-if="menuOpen"
          @click="menuOpen = false"
        >
      </div>
    </div>
    <div class="header__submenu" v-show="submenuOn">
      <div class="header__submenu__line"></div>
    </div>
  </header>
</template>

<script>
  export default {
    name: 'MainHeader',
    data() {
      return {
        menu: ['Меню', 'Меню', 'Меню', 'Меню', 'Меню', 'Меню'],
        submenu: ['Меню', 'Меню', 'Меню', 'Меню', 'Меню', 'Меню', 'Меню', 'Меню', 'Меню'],
        submenuOn: false,
        menuOpen: false,
        isMobile: false
      }
    },
    methods: {
      onMenuHover(index) {
        this.submenuOn = index + 1
      },
      onMenuLeave() {
        this.submenuOn = false
      }
    },
    computed: {
      showElement() {
        return (this.isMobile && this.menuOpen) || !this.isMobile
      }
    },
    created(){
      addEventListener('resize', () => {
        if (window.innerWidth < 1000) this.isMobile = true
        else {
          this.isMobile = false
          this.menuOpen = false
        }
      })
    },
    beforeDestroy() {
      window.removeEventListener('resize')
    },
  }
</script>
<style lang='scss' scoped>
  .header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    font-size: 14px;
    z-index: 3;
    background-color: white;

    & a {
      text-decoration: none;
      color: black;
    }

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 11px 15vw;
      background-color: #DCE5E9;

      @media (max-width: $tablet-width) {
        padding: 11px 5vw;
      }

      @media (max-width: $mobile-width) {
        position: absolute;
        flex-direction: column;
        width: 100%;
        height: 90px;
        left: 0;
        bottom: 0;
        padding: 20px 15px;
        background-color: white;
      }
    }

    &__main {
      display: flex;
      justify-content: space-between;
      padding: 46px 15vw 30px;

      &.fullscreen {
        width: 100vw;
        height: 100vh;
      }

      @media (max-width: $tablet-width) {
        padding: 46px 5vw 30px;
      }

      @media (max-width: $mobile-width) {
        padding: 20px 15px;
      }
    }

    &__logo {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: bold;
    }

    &__user-panel {
      display: flex;
      justify-content: space-between;
      width: 140px;
      font-size: 12px;
      font-weight: 600;

      @media (max-width: $mobile-width) {
        position: absolute;
        flex-direction: column-reverse;
        align-items: center;
        bottom: 110px;
        left: 0;
        width: 100%;
        height: 50px;
        font-size: 14px;
      }
    }

    &__controls {
      display: none;

      @media (max-width: $mobile-width) {
        display: block;
        width: 27px;
        height: 27px;
      }
    }

    &__submenu {
      position: absolute;
      width: 100%;
      height: 120px;
      background-color: #FFFFFF;
      padding: 0 15vw;

      @media (max-width: $tablet-width) {
        padding: 0 5vw;
      }

      @media (max-width: $mobile-width) {
        display: none;
      }
      
      &__line {
        width: 100%;
        height: 1px;
        background-color: grey;
      }
    }
  }

  .nav {
    width: 450px;
    margin: 0 20px;

    @media (max-width: $mobile-width) {
      position: absolute;
      width: 60px;
      top: 140px;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
    }

    &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      width: 100%;
      margin: 0;
      padding: 0;

      @media (max-width: $mobile-width) {
        flex-direction: column;
        height: 30vh;
      }

      &__element {
        position: relative;
        font-size: 16px;

        &:hover {
          font-weight: bold;
        }

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 0;
          height: 1px;
          background-color: black;
          transition: width 1s;
        }

        &:hover::after {
          width: 100%;
        }

        &__sublist {
          position: absolute;
          left: 0;
          top: 90px;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          list-style: none;
          font-weight: normal;
          width: 350px;
          margin: 0;
          padding: 0;
          z-index: 3;

          @media (max-width: $mobile-width) {
            display: none;
          }

          &__element {
            margin-right: 40px;
            font-size: 14px;
          }
        }
      }
    }
  }
</style>