<template>
  <main>
    <slider-section
      class="section-margin"
    />
    <about-section
      class="section-margin"
    />
    <news-section
      class="section-margin"
    />
    <form-section
      class="section-margin"
    />
  </main>
</template>

<script>
  import SliderSection from "@/components/SliderSection"
  import AboutSection from '@/components/AboutSection.vue'
  import NewsSection from '@/components/NewsSection.vue'
  import FormSection from '@/components/FormSection.vue'

  export default {
    name: 'MainBody',
    components: {
      SliderSection,
      AboutSection,
      NewsSection,
      FormSection
    }
  }
</script>
<style lang='scss' scoped>
  .section-margin {
    margin-bottom: 80px;

    @media (max-width: $mobile-width) {
      margin-bottom: 30px;
    }
  }
</style>