<template>
  <footer class="footer">
    <div class="footer__top">
      <a class="footer__top__logo">logotype</a>
      <div class="footer__top__content">
        <div class="footer__top__col1">
          <p class="footer__top__col1__address">г. Москва, метро Бауманская, ул. Бауманская, дом 44</p>
          <a class="footer__top__col1__telephone" href="tel:+7 000 000 00 00">+7 000 000 00 00</a>
        </div>
        <div class="footer__top__col2">
          <nav class="footer__top__col2__navigation nav">
            <ul class="nav__list">
              <li class="nav__item"><a href="#">О компании</a></li>
              <li class="nav__item"><a href="#">Партнёрская программа</a></li>
              <li class="nav__item"><a href="#">Реклама</a></li>
              <li class="nav__item"><a href="#">Пресс-центр</a></li>
              <li class="nav__item"><a href="#">Вакансии</a></li>
              <li class="nav__item"><a href="#">Помощь</a></li>
              <li class="nav__item"><a href="#">Правила</a></li>
            </ul>
          </nav>
          <div class="footer__top__col2__bottom">
            <div class="footer__top__col2__bottom__social social">
              <p class="social__text">Мы в соц. сетях</p>
              <div class="social__wrap">
                <a class="social__logo" href="#">
                  <img src="@/img/facebook-letter-logo.svg" alt="facebook">
                </a>
                <a class="social__logo" href="#">
                  <img src="@/img/odnoklassniki.svg" alt="odnoklassniki">
                </a>
                <a class="social__logo" href="#">
                  <img src="@/img/instagram-logo.svg" alt="instagram">
                </a>
              </div>
            </div>
            <form class="footer__top__col2__bottom__form form" @submit.prevent="">
              <label class="form__label" for="footer-email">Подписка на новости</label>
              <div class="form__wrap">
                <input 
                  type="text"
                  placeholder="example@mail.com"
                  id="footer-email"
                  class="form__input"
                  v-model="email"
                >
                <button 
                  class="form__btn" 
                  type="submit"
                  @click="validate"
                >
                  Ok
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <p class="footer__bottom__text">© ООО «Глобус», 2016 — 2019</p>
      <div class="footer__bottom__right">
        <a class="footer__bottom__right__text" href="#">Политика конфиденциальности</a>
        <a class="footer__bottom__right__text" href="#">Cookies</a>
      </div>
    </div>
  </footer>
</template>
<script>
  export default {
    name: 'MainFooter',
    data() {
      return {
        email: ''
      }
    },
    methods: {
      validate() {
        if (this.email.length > 0) {
          alert('Вы подписаны!')
        }
      }
    }
  }
</script>
<style lang='scss' scoped>
  .footer {
    &__top {
      padding: 30px 15vw;
      font-size: 14px;
      background: #DCE5E9;

      @media (max-width: $tablet-width) {
        padding: 30px 5vw;
      }

      @media (max-width: $mobile-width) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px 15px 35px;
      }

      a {
        color: black;
        text-decoration: none;
      }

      &__logo {
        display: block;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      
      &__content {
        display: flex;
        justify-content: space-between;

        @media (max-width: $mobile-width) {
          flex-direction: column;
          align-items: center;
        }
      }

      &__col1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 110px;
        margin-right: 10vw;

        @media (max-width: $tablet-width) {
          margin-right: 5vw;
        }

        @media (max-width: $mobile-width) {
          margin-right: 0;
          min-height: 110px;
          margin-bottom: 26px;
        }

        &__address {
          width: 220px;
          margin: 0;

          @media (max-width: $mobile-width) {
            width: 216pt;
            text-align: center;
          }
        }

        &__telephone {
          font-weight: 600;

          @media (max-width: $mobile-width) {
            text-align: center;
          }
        }
      }

      &__col2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        &__navigation {
          margin-bottom: 20px;
        }

        &__bottom {
          display: flex;
          justify-content: space-between;

          @media (max-width: $mobile-width) {
            flex-direction: column;
            align-items: center;
          }
        }
      }
    }

    .nav {
      &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        width: 100%;
        padding: 0;
        margin: 0;

        @media (max-width: $mobile-width) {
          flex-direction: column;
        }
      }

      &__item {
        margin-right: 20px;

        @media (max-width: $mobile-width) {
          margin-right: 0;
          margin-bottom: 8px;
        }
      } 
    }

    .social {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (max-width: $mobile-width) {
        align-items: center;
        margin-bottom: 40px;
      }

      &__text {
        margin: 0;

        @media (max-width: $mobile-width) {
          margin-bottom: 20px;
        }
      }

      &__wrap {
        display: flex;
      }

      &__logo {
        width: 17px;
        height: 17px;
        margin-right: 10px;

        @media (max-width: $mobile-width) {
          width: 25pt;
          height: 25pt;
        }

        & img {
          display: block;
          width: 17px;
          height: 17px;

          @media (max-width: $mobile-width) {
            width: 25pt;
            height: 25pt;
          }
        }
      }
    }

    .form {
      width: 270px;

      @media (max-width: $mobile-width) {
        width: 100%;
        text-align: center;
      }

      &__label {
        display: block;
        margin-bottom: 6px;
      }

      &__wrap {
        display: flex;
        justify-content: space-between;
      }

      &__input {
        width: 100%;
        padding: 8px 15px;
        font-size: 12px;
        border-radius: 2px;
        border: none;
        margin-right: 10px;

        @media (max-width: $mobile-width) {
          font-size: 12pt;
        }

        &:focus {
          outline: none;
          background-color: #14A5DA1F;
        }
      }

      &__btn {
        padding: 6px 25px;
        background: #14A5DA;
        color: white;
        font-family: $main-font;
        border: none;
        border-radius: 2px;
      }
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 22px 15vw;
      font-size: 12px;
      color: #DCE5E9;
      background: #001F2B;

      @media (max-width: $tablet-width) {
        padding: 22px 5vw;
      }

      @media (max-width: $mobile-width) {
        padding: 22px 15px;
        font-size: 12pt;
      }

      a {
        color: #DCE5E9;
        text-decoration: none;
      }

      &__text {
        margin: 0;

        @media (max-width: $mobile-width) {
          display: none;
        }
      }

      &__right {
        @media (max-width: $mobile-width) {
          display: flex;
          justify-content: space-between;
          width: 100%;
        }

        &__text {
          margin-right: 30px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
</style>