<template>
  <section class="news">
    <div class="news__header">
      <h2 class="news__header__title">Новости</h2>
      <a href="#" class="news__header__link">Все новости</a>
    </div>
    <div class="news__wrap">
      <div class="news__block">
        <div class="news__block__row1">
          <div 
            v-for="item in firstNews"
            :key="item.id"
            class="news__block__post post"
          >
            <span class="post__num">{{item.id}}</span>
            <img 
              :src="require(`@/img/img_${item.img}.jpg`)" 
              alt="Новость"
              class="post__img"
            >
          </div>
        </div>
      </div>  
      <div class="news__block">
        <div 
          v-for="item in moreNews"
          :key="item.id"
          class="news__block__post long post"
        >
          <span class="post__num">{{item.id}}</span>
          <img 
            :src="require(`@/img/img_${item.img}.jpg`)" 
            alt="Новость"
            class="post__img"
          >
        </div>
      </div>
    </div>
    <button 
      class="news__btn"
      @click="onButtonClick"
      v-show="newsOnPage < news.length"
    >Показать еще
    </button>
  </section>
</template>

<script>
  export default {
    name: 'NewsSection',
    data() {
      return {
        news: [
          {id: 1, img: 1},
          {id: 2, img: 2},
          {id: 3, img: 3},
          {id: 4, img: 1},
          {id: 5, img: 2},
          {id: 6, img: 3},
        ],
        newsOnPage: 3
      }
    },
    methods: {
      onButtonClick() {
        this.newsOnPage += 3;
        if (this.newsOnPage > this.news.length) {
          this.newsOnPage = this.news.length
        }
      }
    },
    computed: {
      firstNews() {
        return this.news.slice(0, 2)
      },
      moreNews() {
        return this.news.slice(2, this.newsOnPage)
      }
    }
  }
</script>

<style lang='scss' scoped>
  .news {
    padding: 0 15vw;

    @media (max-width: $tablet-width) {
      padding: 0 5vw;
    }

    @media (max-width: $mobile-width) {
      padding: 0 15px;
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 30px;

      @media (max-width: $mobile-width) {
        margin-bottom: 20px;
        justify-content: center;
      }

      &__title {
        margin: 0;
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;

        @media (max-width: $mobile-width) {
          font-size: 16pt;
        }
      }

      &__link {
        text-decoration: none;
        color: black;
        font-size: 16px;

        @media (max-width: $mobile-width) {
          display: none;
        }
      }
    }

    &__block {
      &__row1 {
        display: flex;
        justify-content: space-between;

        @media (max-width: $mobile-width) {
          flex-direction: column-reverse;
        }

        & .post:first-child {
          margin-right: 30px;

          @media (max-width: $mobile-width) {
            margin-right: 0;
          }
        }
      }

      &__post {
        height: 300px;

        @media (max-width: $mobile-width) {
          height: 200pt;
          margin-bottom: 20px;
        }
      }
    }

    .post {
      position: relative;
      overflow: hidden;
      width: 100%;

      &.long {
        margin-top: 30px;

        @media (max-width: $mobile-width) {
          margin-top: 0;
        }
      }

      &::after {
        content: "";
        position: absolute;
        background-color: black;
        opacity: 0.46;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      &__num {
        position: absolute;
        font-size: 161px;
        font-weight: bold;
        color: white;
        z-index: 1;
        opacity: 0.6;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);

        @media (max-width: $mobile-width) {
          font-size: 95pt;
        }
      }

      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__btn {
      display: block;
      background: none;
      border: none;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      font-family: $main-font;
      padding: 0;
      margin: 50px auto 0;

      @media (max-width: $mobile-width) {
        font-size: 10pt;
        margin: 20px auto 0;
      }
    }
  }
</style>