<template>
  <section class="slider">
    <div class="slider__cover">
      <img class="slider__img" :src="slideImgPath" alt="Слайд">
    </div>
    <div class="slider__info">
      <div class="slider__info__category">
        <p class="slider__info__category__text">
          {{slideObj.category}}
        </p>
      </div>
      <h2 class="slider__info__title">
        {{slideObj.title}}
      </h2>
      <p class="slider__info__text">
        {{slideObj.text}}
      </p>
    </div>
    <div class="slider__controls">
      <div 
        class="slider__controls__arrow slider__controls__arrow--left"
        @click="clickLeft"
      >
        <img src="@/img/left-arrow.svg" alt="Предыдущий слайд"/>
      </div>
      <ul class="slider__controls__markers">
        <li 
          class="slider__controls__marker"
          :class="{active: this.currentSlide === 1}"
          @click="clickOnMarker(1)"
        ></li>
        <li 
          class="slider__controls__marker"
          :class="{active: this.currentSlide === 2}"
          @click="clickOnMarker(2)"
        ></li>
        <li 
          class="slider__controls__marker"
          :class="{active: this.currentSlide === 3}"
          @click="clickOnMarker(3)"
        ></li>
      </ul>
      <div 
        class="slider__controls__arrow"
        @click="clickRight"
      >
        <img src="@/img/left-arrow.svg" alt="Предыдущий слайд"/>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'SliderSection',
    data() {
      return {
        slides: [
          {
            id: 1,
            imageName: 'slide_1.jpg',
            category: 'Анимация',
            title: 'Подготовка спрайтов для анимации в Unity',
            text: 'Спрайты должны немного отличаться друг от друга, чтобы было заметно движение.'
          },
          {
            id: 2,
            imageName: 'slide_2.jpg',
            category: 'Левел дизайн',
            title: 'Что такое левел дизайн',
            text: 'Это дисциплина в разработке компьютерных игр, которая включает в себя создание уровней для игр — локации, миссии, задания и прочее окружение.'
          },
          {
            id: 3,
            imageName: 'slide_3.jpg',
            category: 'Программист',
            title: 'Кто такие игровые программисты',
            text: 'Игровой программист — это инженер-программист, который в основном разрабатывает компьютерные игры или относящееся к ним программное обеспечение.'
          },
        ],
        currentSlide: 1
      }
    },
    methods: {
      clickOnMarker(num) {
        this.currentSlide = num
      },
      clickLeft() {
        if (this.currentSlide > 1) {
          this.currentSlide--
        } else {
          this.currentSlide = this.slides.length
        }
      },
      clickRight() {
        if (this.currentSlide < this.slides.length) {
          this.currentSlide++
        } else {
          this.currentSlide = 1
        }
      }
    },
    computed: {
      slideObj: function () {
        return this.slides[this.currentSlide - 1]
      },
      slideImgPath: function () {
        const slideImg = this.slides[this.currentSlide - 1].imageName
        return require(`@/img/${slideImg}`)
      }
    }
  }
</script>

<style lang="scss" scoped>
  .slider {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 600px;
    padding: 116px 15vw 50px;
    color: white;

    @media (max-width: $tablet-width) {
      padding: 116px 5vw 50px;
    }

    @media (max-width: $mobile-width) {
      padding: 27px 15px 12px;
      height: 240pt;
    }

    &__cover {
      position: absolute;
      width: 100%;
      height: 600px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: hidden;

      @media (max-width: $mobile-width) {
        height: 240pt;
      }

      &::after {
        content: "";
        position: absolute;
        background-color: black;
        opacity: 0.56;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__info {
      z-index: 1;
      
      &__category {
        display: inline-block;
        padding: 6px 14px;
        background-color: #14A5DA;
        margin-bottom: 30px;

        @media (max-width: $mobile-width) {
          padding: 7px 12px;
          margin-bottom: 16px;
        }

        &__text {
          margin: 0;
          font-size: 14px;
          text-transform: uppercase;

          @media (max-width: $mobile-width) {
            font-size: 8pt;
          }
        }
      }

      &__title {
        margin: 0;
        margin-bottom: 20px;
        max-width: 766px;
        font-size: 46px;
        font-weight: 600;
        text-transform: uppercase;

        @media (max-width: $mobile-width) {
          font-size: 16pt;
          max-width: 90%;
        }
      }

      &__text {
        margin: 0;
        max-width: 660px;
        font-size: 24px;

        @media (max-width: $mobile-width) {
          font-size: 14pt;
          max-width: 90%;
        }
      }
    }

    &__controls {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      z-index: 1;

      &__markers {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
      }

      &__marker {
        width: 70px;
        height: 3px;
        margin-right: 30px;
        background-color: white;

        @media (max-width: $mobile-width) {
          width: 30px;
          margin-right: 12px;
          height: 2px;
        }

        &.active {
          background-color: #14A5DA;
        }
      }

      &__arrow {
        &--left {
          transform: rotateY(180deg);
        }

        @media (max-width: $mobile-width) {
          width: 17px;
        }
      }
    }
  }
</style>
