<template>
  <div class="main-page" id="app">
    <MainHeader/>
    <MainBody class="body"/>
    <MainFooter/>
  </div>
</template>

<script>
  import MainHeader from "@/components/MainHeader"
  import MainBody from "@/components/MainBody"
  import MainFooter from "@/components/MainFooter"

  export default {
    name: 'App',
    components: {
      MainHeader, MainBody, MainFooter
    }
  }
</script>

<style lang="scss" scoped>
  .main-page {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 auto;
    background-color: white;
    color: black;
    max-width: 1920px;
    font-family: $main-font;
    font-size: 16px;

    .body {
      margin-bottom: 30px;
    }
  }
</style>
